{% extends "base.html" %}

{% block title %}
Магазин одежды - Главная страница
{% endblock %}

{% block body %}
<!-- Main Store Body -->

<h1>Загрузить новый файл</h1>
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Заголовок карточки</h5>
        <p class="card-text">Небольшой пример текста, который должен основываться на названии карточки и составлять
            основную часть содержимого карты.</p>
        <a href="#" class="btn btn-primary">Перейти куда-нибудь</a>
        <select class="form-select" aria-label="Default select example" name="select_type">
            <option selected>Выберите тип одежды:</option>
            <option value="shirt">Рубашка</option>
            <option value="pant">Штаны</option>
            <option value="shoe">Обувь</option>
        </select>
        <select class="form-select" aria-label="Default select example" name="select_kind">
            <option selected>Выберите вид одежды:</option>
            <option value="casual">Повседневный</option>
            <option value="formal">Формальный</option>
        </select>

    </div>
</div>

</div>
</main>

{% endblock %}