{% extends "base.html" %}

{% block title %}
Магазин одежды - Главная страница
{% endblock %}

{% block body %}
<!-- Main Store Body -->

<h1>Загрузить новый файл</h1>
<div class="container">
    <div class="row">
        <div class="col">
            1 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>
<select name="" id="">
    <option value="">Тест1</option>
    <option value="">Тест2</option>
    <option value="">Тест3</option>
</select>
</div>
</main>

{% endblock %}